aiohttp
aiohttp_socks
aiosqlite
pyyaml
asyncio
colorama
requests
websockets
cryptography
pysocks
impacket
browser_cookie3
pycryptodome
stem
folium
pyscreenshot
Pillow
websocket-client
python-nmap
matplotlib
croniter
dnspython
python-whois
scapy
shodan
plotly
pandas
numpy
torch
transformers
rich
sqlmap
kademlia
rpcudp
pyperclip
SpeechRecognition
pydub
paramiko
beautifulsoup4
playwright
keyboard
pynput
aiosqlite
aioquic
python-digitalocean
linode_api4
vultr
tkinterdnd2
geoip2
maxminddb-geolite2
requests[socks]
PySocks
